stages:
  - test

image: node:18

services:
  - name: mysql:8
    alias: mysql

variables:
  # Entorno de test
  NODE_ENV: test

  # Variables de configuración
  DB_HOST: mysql
  DB_PORT: 3306
  DB_DIALECT: mysql
  DB_TIMEZONE: "-05:00"

  DB_USER: ci_user
  DB_PASSWORD: ci_password
  DB_NAME: schoolnetdb
  DB_TEST_NAME: schoolnet_testdb

  # Variables propias del contenedor MySQL
  MYSQL_ROOT_PASSWORD: root_password
  MYSQL_USER: ci_user
  MYSQL_PASSWORD: ci_password
  MYSQL_DATABASE: schoolnet_testdb

  JWT_SECRET: "l+nTTdZdeu/26Kzd5jV9VY4M6s5MAVUAoAIG8n9uwlCTp2hBe0UnS1gSllsIB6mF3tCWYP7s0RSZYVWXlVoUzAmDG9TGzSRXs8FtNFDxIdY"
  JWT_REFRESH_SECRET: "ORpgJf8Pxy3576KjO+Lifm9Ns92wANaPksoraxLcBwIPCgfQNJjlzojDUTuzYUAnXXq9LHuOaWTFn+mhMA5LtwkAs7CiXZHYGKNMra3XUzNPTSa9fgs1Liq5OyVNsho6Ts6ruQKzC13rhlBMmJ0NZRwYpsfCDCMuNbY7zfwy5SE"
  JWT_EXPIRES_IN: "1h"
  JWT_REFRESH_EXPIRES_IN: "7d"
  JWT_ISS: "schoolnet-api"

cache:
  paths:
    - node_modules/

test:
  stage: test
  script:
    - node -v
    - npm -v
    - npm ci
    
    - apt-get update && apt-get install -y default-mysql-client
    # Esperar a que MySQL esté listo
    - echo "Esperando a MySQL..."
    - |
      for i in `seq 1 30`; do
        mysqladmin ping -h"$DB_HOST" -u"$DB_USER" -p"$DB_PASSWORD" --silent && echo "MySQL está arriba" && break
        echo "MySQL aún no listo ($i)..."
        sleep 2
      done

    # Dar permisos al usuario de CI
    - echo "Configurando permisos para ci_user..."
    - mysql -h "$DB_HOST" -u root -p"$MYSQL_ROOT_PASSWORD" -e "GRANT ALL PRIVILEGES ON $DB_TEST_NAME.* TO '$DB_USER'@'%'; FLUSH PRIVILEGES;"

    # Migraciones y seeds en test
    - npm run db:migrate:test
    - npm run db:seed:test

    # Correr tests
    - npm run test:unit
    - npm run test:integration
